{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ area.name }}{% endblock %}

{% block page_content %}           
    <div>
        <p><a href="{{ url_for('main.facility', id=area.facility.id) }}"><button type="button" class="btn btn-default">Back</button></a></p>
        <h1>{{ area.name }}</h1>
        <h3>Add a new component</h3>
        <div>{{ wtf.quick_form(form) }}</div>
        <br>
        {% if area.components %}
            <h3>Components</h3>
            <table class="table table-hover">
                <thead><tr><th>Ident</th><th>Category</th><th>Service Type</th></tr></thead>
                {% for component in area.components %}
                    <tr>
                        <td><a href="{{ url_for('.component', id=component.id) }}"><button type="button" class="btn btn-primary">{{ component.ident }}</button></a></td>
                        <td>{{ component.category }}</td>
                        <td>{{ component.service_type }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}           
    </div>
{%- endblock %}