{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ component.ident }}{% endblock %}

{% block page_content %}
    <div class="container">
        <h1>{{ component.ident }}</h1>
        <h2>Global Consequences</h2>
        <table class="table table-hover">
            <thead><tr><th>Name</th><th>Hydrocarbon Release [Barrels]</th><th>Vessel</th></tr></thead>    
            {% for consequence in component.consequences %}
                <tr>
                    <td><a href="{{ url_for('.consequence', component_id=component.id, consequence_id=consequence.id) }}"><button type="button" class="btn btn-primary">{{ consequence.name }}</button></a></td>    
                    <td>{{ consequence.hydro_release }}</td>
                    {% for vessel_trip in consequence.vessel_trips %}
                        <td>{{ vessel_trip.active_time }}</td>
                    {% endfor %}
                    <td></td>
                </tr>
            {% endfor %}
        </table>
        <a href="{{ url_for('.consequence_add', id=component.id) }}"><button type="button" class="btn btn-success">Add a new Global Consequence</button></a>        
        <br>
        <br>
        <h2>Sub-Components</h2>
        <table class="table table-hover">
            <thead><tr><th>Ident</th><th>Category</th><th></th></tr></thead>    
            {% for subcomponent in component.subcomponents %}
                <tr>
                    <td><a href="{{ url_for('.subcomponent', component_id=component.id, subcomponent_id=subcomponent.id) }}"><button type="button" class="btn btn-primary">{{ subcomponent.ident }}</button></a></td>    
                    <td>{{ subcomponent.category }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </table>
        <a href="{{ url_for('.subcomponent_add', id=component.id) }}"><button type="button" class="btn btn-success">Add a new Sub-Component</button></a>                
        <br>
        <br>`
        <h2>Chart</h2>
        <img src="{{ url_for('main.fig', id=component.id) }}" alt="Image Placeholder">
    </div>
{%- endblock %}