{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ component.ident }}{% endblock %}

{% block page_content %}
    <div class="container">
        <h1>{{ component.ident }}</h1>
        <h2>Subcomponents</h2>
        <table class="table table-hover">
            <thead><tr><th>Ident</th><th>Category</th><th></th></tr></thead>    
            {% for subcomponent in component.subcomponents %}
                <tr>
                    <td>{{ subcomponent.ident }}</td>
                    <td>{{ subcomponent.category }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </table>
        <h2>Chart</h2>
        <img src="{{ url_for('main.fig', id=component.id) }}" alt="Image Placeholder">
    </div>
{%- endblock %}