{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ facility.name }}{% endblock %}

{% block page_content %}           
    <div>
        <p><a href="{{ url_for('main.index') }}"><button type="button" class="btn btn-default">Back</button></a></p>
        <h1>{{ facility.name }}</h1>
        <h2>Vessels</h2>
        <h3>Add a new vessel</h3>
        <form action="{{ url_for('.add_vessel', id=facility.id) }}" method="post">
            {{ wtf.quick_form(vessel_form) }}
        </form>
        <br>
        {% if facility.vessels %}
            <table class="table table-hover">
                <thead><tr><th>Abbreviation</th><th>Name</th><th>Day Rate [£/day]</th><th>Mobilisation Time [days]</th></tr></thead>
                {% for vessel in facility.vessels %}
                    <tr>
                        <td>{{ vessel.abbr }}</td>
                        <td>{{ vessel.name }}</td>
                        <td>{{ '£{:,.2f}'.format(vessel.day_rate) }}</td>
                        <td>{{ vessel.mob_time }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}  
        <h2>Areas</h2> 
        <h3>Add a new area</h3>
        <form action="{{ url_for('.add_area', id=facility.id) }}" method="post">
            {{ wtf.quick_form(area_form) }}
        </form>
        <br>
        {% if facility.areas %}
            <table class="table table-hover">
                <thead><tr><th>Name</th><th>Equity Share</th></tr></thead>
                {% for area in facility.areas %}
                    <tr>
                        <td><a href="{{ url_for('.area', id=area.id) }}"><button type="button" class="btn btn-primary">{{ area.name }}</button></a></td> 
                        <td>{{ "{0:.1f}%".format(area.equity_share * 100) }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}           
    </div>
{%- endblock %}