{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Failure Modes{% endblock %}

{% block page_content %}           
    <div>
        <p><a href="{{ url_for('main.index') }}"><button type="button" class="btn btn-default">Back</button></a></p>
        <h2>Add a new failure mode</h2>
        <div>{{ wtf.quick_form(form) }}</div>
        {% if failure_modes %}
            <h2>Failure Modes</h2>
            <table class="table table-hover">
                <thead><tr><th>Sub-Component</th><th>Description</th><th>Time Dependant</th><th>Mean Time to Failure [yrs]</th><th>Detectable by Inspection</th><th>Inspection Type</th><th>Global Consequence</th></tr></thead>
                {% for failure_mode in failure_modes %}
                    <tr>
                        <td>{{ failure_mode.subcomponent_category }}</td>
                        <td>{{ failure_mode.description }}</td>
                        <td>{{ failure_mode.time_dependant }}</td>
                        <td>{{ failure_mode.mean_time_to_failure }}</td>
                        <td>{{ failure_mode.detectable }}</td>
                        <td>{{ failure_mode.inspection_type }}</td>
                        <td>{{ failure_mode.consequence_description }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}           
    </div>
{%- endblock %}