{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class="jumbotron">
        <h1>FMECA <i class="mdi mdi-chart-line"></i></h1>
    </div>
    <div class="container">
        <h1>Facilities</h1>
        <h3>Add a new facility</h3>
        <div>{{ wtf.quick_form(form) }}</div>
        <br>
        {% if facilities %}
            <table class="table table-hover">
                <thead><tr><th>Facility</th></tr></thead>
                {% for facility in facilities %}
                    <tr>
                        <td>{{ facility.name }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}           
    </div>
{%- endblock %}