{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class="jumbotron">
        <h1>FMECA <i class="fa fa-table" aria-hidden="true"></i></h1>
    </div>            
    <div>
        <a href="{{ url_for('api.index') }}"><button type="button" class="btn btn-default">API</button></a>
        <h1>FMECA</h1>
        <a href="{{ url_for('main.failure_modes') }}"><button type="button" class="btn btn-default">Failure Modes</button></a>
        <h3>Add a new facility</h3>
        <div>{{ wtf.quick_form(form) }}</div>
        <br>
        {% if facilities %}
            <h3>Facilities</h3>
            <table class="table table-hover">
                <thead><tr><th>Name</th><th>Remaining Life [yrs]</th><th>Deferrred Production Cost [£/barrel]</th><th>Risk Cut Off [£]</th></tr></thead>
                {% for facility in facilities %}
                    <tr>
                        <td><a href="{{ url_for('.facility', id=facility.id) }}"><button type="button" class="btn btn-primary">{{ facility.name }}</button></a></td> 
                        <td>{{ facility.remaining_life }}</td>
                        <td>{{ '£{:,.2f}'.format(facility.deferred_prod_cost) }}</td>
                        <td>{{ '£{:,.2f}'.format(facility.risk_cut_off) }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}           
    </div>
{%- endblock %}