{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class="jumbotron">
        <h1>FMECA <i class="mdi mdi-chart-line"></i></h1>
    </div>
    <div class="container">
        <h1>Components</h1>
        <table class="table table-hover">
            <thead><tr><th>Ident</th><th>Annual Risk</th><th>Inspection Interval</th><th></th></tr></thead>
            {% for component in components %}
                <tr>
                    <td><a href="{{ url_for('.component', id=component.id) }}"><button type="button" class="btn btn-primary">{{ component.ident }}</button></a></td>    
                    <td>{{ component.annual_risk }}</td>
                    <td>{{ component.inspect_int }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </table>
        <a href="{{ url_for('.component_add') }}"><button type="button" class="btn btn-success">Add a new Component</button></a>                
    </div>
{%- endblock %}